<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Uplodas de Imagem</title>
</head>
<body>
    <h1>Upload De Imagem</h1>

    <form action="http://localhost:8080/api/image/uploads" method="post" enctype="multipart/form-data">
        <input type="file" name="Image" accept="Image/*" />
        <button type="submit">Enviar</button>
    </form>
</body>
<script>
        fetch('http://localhost:8080/api/image/images')
    .then(response => response.json())
    .then(images => {
        const imageList = document.getElementById("image-list");
        imagens.forEach(element => {
            const li = document.createElement('li');
            const img = documen.createElement('img');
            img.src = `http://localhost:8080/api/image/${image}`;
            img.style.maxWidth = '200px';
            li.appendChild(img);
            imageList.appendChild(li);
        });
    });
</script>
</html>